<div class="row">
  
  <!-- vertical navigation bar -->
  <div class="col-md-2">    
    <div class="leftNav"> 
    <ul class="nav nav-pills nav-stacked" data-ng-controller="LeftNavCtrl">      
      <li><a href="/#/searchuser"><i class="fa fa-list-alt fa-fw">Search User</i></a></li>
      <li class="active"><a href="/#/createuser"><i class="fa fa-list-alt fa-fw">New User</i></a></li>
    </ul>
    </div>
  </div>

  <!--form design -->
  <div class="col-md-8" data-ng-controller="AdminUserCtrl">
    <div class="row centered-form" data-ng-show="msg">
      <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div>
    </div>
    <!-- Blank hight is inserted-->        
    <div class="col-md-8" style="height: 50px;"> 
    </div>         
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-4">
        <div class="panel-default">          
          <div class="panel-body">
            <form name="createUserForm" role="form" data-ng-submit="submitForm()">              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">                    
                    <input id="newuser" name="user" type="text" placeholder="Username" class="form-control input-sm" required ng-model="user.userName" ng-pattern="/^[A-z][A-z0-9]*$/" ng-minlength="5" ng-maxlength="20" > 

                    <div data-ng-messages="createUserForm.user.$error" data-ng-if="createUserForm.user.$dirty" role="alert" class="text-danger">
                      <div data-ng-message="pattern, minlength, maxlength">User name should be alphanumeric between 5 to 20 chars.</div>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">                    
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" ng-model="user.firstName">
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" ng-model="user.lastName">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="user.email">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <input type="mobile" name="mobile" id="mobile" class="form-control input-sm" placeholder="mobile" ng-model="user.mobile" data-ng-pattern="/^([0-9]+)$/" -minlength="10" ng-maxlength="12">

                    <div data-ng-messages="createUserForm.mobile.$error" data-ng-if="createUserForm.mobile.$dirty" role="alert" class="text-danger">
                      <div data-ng-message="pattern, minlength, maxlength">Mobile number should be numeric between 10 to 12 digit</div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group" data-ng-class="createUserForm.password.$pristine ? '' : (createUserForm.password.$valid ? 'has-success' : 'has-error')">

                    <input type="password" name="password" class="form-control input-sm" placeholder="Password" ng-model="user.password" ng-pattern="/.*(?=.{8,})(?=.*[A-z])(?=.*[!@#$%^&*]).*$/" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" ng-required="password">

                    <div data-ng-messages="createUserForm.password.$error" data-ng-if="createUserForm.password.$invalid" role="alert" class="text-danger">
                      <div data-ng-message="pattern">Invalid password. At least 8 characters with a special one.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <input type="password" name="confpassword" class="form-control input-sm" placeholder="Confirm Password" ng-model="user.confpassword" required data-compare-to="user.password">

                    <div data-ng-messages="createUserForm.confpassword.$error" role="alert" class="text-danger">
                      <div data-ng-message="compareTo">Password didn't match.</div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">                    
                    <select id="role" class="form-control input-sm" ng-model="user.role" ng-options="role for role in roles"/>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">                    
                    <input type="submit" value="Register" class="center-block btn btn-block btn-primary btn-lg" ng-disabled="createUserForm.$invalid">             
                  </div>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="col-md-2">
    <!-- Blank right navigation-->    
  </div>
</div>



