<div class="row"> 
2    
3   <!-- vertical navigation bar --> 
4   <div class="col-md-2">     
5     <div class="cliente">  
6     <ul class="nav nav-pills nav-stacked" data-ng-controller="LeftNavCtrl">       
7       <li><a href="/#/searchuser"><i class="fa fa-list-alt fa-fw" ></i>Search User </a></li> 
8       <li class="active"><a href="/#/createuser"><i class="fa fa-list-alt fa-fw" ></i>New User </a></li> 
9     </ul> 
10     </div> 
11   </div> 
12 
 
13   <!--form design --> 
14   <div class="col-md-8" data-ng-controller="UserCtrl"> 
15     <div class="row centered-form" data-ng-show="msg"> 
16       <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div> 
17     </div> 
18     <!-- Blank hight is inserted-->         
19     <div class="col-md-8" style="height: 50px;">  
20     </div>          
21     <div class="row centered-form"> 
22       <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-4"> 
23         <div class="panel panel-default">           
24           <div class="panel-body"> 
25             <form role="form" data-ng-submit="submitForm()">               
26               <div class="row"> 
27                 <div class="col-xs-12 col-sm-12 col-md-12"> 
28                   <div class="form-group">                     
29                     <input id="newuser" name="user" type="text" placeholder="Username" class="form-control input-sm" required ng-model="user.username">  
30                   </div> 
31                 </div> 
32               </div> 
33               <div class="row"> 
34                 <div class="col-xs-6 col-sm-6 col-md-6"> 
35                   <div class="form-group">                     
36                     <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" required ng-model="user.firstname"> 
37                   </div> 
38                 </div> 
39 
 
40                 <div class="col-xs-6 col-sm-6 col-md-6"> 
41                   <div class="form-group"> 
42                     <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" required ng-model="user.lastname"> 
43                   </div> 
44                 </div> 
45               </div> 
46 
 
47               <div class="row"> 
48                 <div class="col-xs-12 col-sm-12 col-md-12"> 
49                   <div class="form-group"> 
50                     <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required ng-model="user.email"> 
51                   </div> 
52                 </div> 
53               </div> 
54 
 
55               <div class="row"> 
56                 <div class="col-xs-6 col-sm-6 col-md-6"> 
57                   <div class="form-group"> 
58                     <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" required ng-model="user.password"> 
59                   </div> 
60                 </div> 
61 
 
62                 <div class="col-xs-6 col-sm-6 col-md-6"> 
63                   <div class="form-group"> 
64                     <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" required ng-model="user.confpassword"> 
65                   </div> 
66                 </div> 
67               </div> 
68 
 
69               <div class="row"> 
70                 <div class="col-xs-6 col-sm-6 col-md-6"> 
71                   <div class="form-group">                     
72                     <select id="role" class="form-control input-sm" ng-model="user.role" ng-options="role for role in user.roles"> 
73                   </div> 
74                 </div> 
75               </div>               
76 
 
77               <div class="col-md-12" style="height: 10px;"></div>               
78               <input type="submit" value="Register" class="btn btn-info btn-block"> 
79                
80                
81             </form> 
82           </div> 
83         </div> 
84       </div> 
85     </div>     
86   </div> 
87   <div class="col-md-2"> 
88     <!-- Blank right navigation-->     
89   </div> 
90 </div> 
