<div class="row">  

  <!--vertical navigation bar -->
  <div class="col-md-2" data-ng-controller="LeftNavCtrl">
    <div class="cliente"> 
    <ul class="nav nav-pills nav-stacked" >                
      <li ><a href="/#/lrhome"><i class="fa fa-list-alt fa-fw" ></i>Search LR <span class="glyphicon glyphicon-search"></span></a></li>
      <li class="active"><a href="/#/createlr"><i class="fa fa-file-o fa-fw"></i>New LR <span class="glyphicon glyphicon-save-file"></span></a></li>
      <li><a href="/#/lrreports"><i class="fa fa-file-o fa-fw"></i>Reports <span class="glyphicon glyphicon-save-file"></span></a></li>      
    </ul>
    </div>
  </div>

  <!--form design -->
  <div class="col-md-8" data-ng-controller="LrCtrl">
    <form class="form-horizontal" name="lrForm" data-ng-submit="submitForm()"> 
      
      <div class="col-xs-12">
       <div class="row centered-form" data-ng-show="msg">
        <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div>
      </div>
      <!--first page -->               
        <div class="row">
          <div class="form-group">        
            <label for="vehicleno" class="control-label col-xs-2"><small>Vehicle No</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="vehicleno" placeholder="Vehicle No"
               ng-model="lr.vehicleNo">          
            </div>
             <label for="vehicleowner" class="control-label col-xs-2"><small>Vehicle Owner</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="vehicleowner" placeholder="Vehicle Owner"
               ng-model="lr.vehicleOwner"> 
            </div>

          </div>
        </div> 

        <div class="row">
          <div class="form-group">        
            <label for="poNo" class="control-label col-xs-2"><small>P.O No</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="poNo" placeholder="P.O No"
               ng-model="lr.poNo">          
            </div>
             <label for="doNo" class="control-label col-xs-2"><small>D.O No</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="doNo" placeholder="D.O Number"
               ng-model="lr.doNo"> 
            </div>

          </div>
        </div>    

        <div class="row">
          <div class="form-group"> 
            <label for="billingParty" class="control-label col-xs-2"><small>Billing Party</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="billingParty" placeholder="" ng-model="lr.billingParty">
            </div> 
            <label class="control-label col-xs-2"><small>MultiLoad:</small></label>   
            <div class="col-xs-4">
              <label>
                <input type="checkbox" ng-model="lr.multiLoad" ng-false-value="false" style="margin-top: 10px;">
              </label>
            </div>                    
           
          </div>
        </div> 

         <div class="row bar">   
          <div id="fm2" class="form-group" >             
            <label for="names" class="control-label col-xs-2"><small>Billing Name</small></label>            
            <div class="col-xs-4">
              <select id="names"  ng-model="lr.billingname" ng-options="billingname.name for billingname in billingnameList" >
                <option value="" selected="selected">Select</option>
              </select>           
              
            </div>
             <label for="billingAddress" class="control-label col-xs-2"><small>Billing Address</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="billingAddress" placeholder="BillingAddress" value=" {{ lr.billingname.address }}" disabled>
            </div>
           
           
          </div>
        </div>   
        
        <div class="row bar">   
          <div id="fm2" class="form-group" >             
            <label for="consignerCode" class="control-label col-xs-2"><small>Consignor Code</small></label>            
            <div class="col-xs-4">
              <select id="consignerCode"  ng-model="lr.consigner" ng-options="consigner.consignerCode for consigner in consignerList" >
                <option value="" selected="selected">Select</option>
              </select>           
              
            </div>
             <label for="consignerName" class="control-label col-xs-2"><small>Consigner Name</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="consignerName" placeholder="Consignor Name" value=" {{ lr.consigner.consignerName }}" disabled>
            </div>
           
           
          </div>
        </div>

        <div class="row">   
          <div id="fm2" class="form-group" >             
           
            <label for="consignerServTax" class="control-label col-xs-2"><small>Service Tax No(Consignor)</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="consignerServTax" placeholder="Consigner Service Tax" value=" {{ lr.consigner.serviceTax}}" disabled>
            </div>  
            <label for="consignerAddress" class="control-label col-xs-2"><small>Consigner Add</small></label>            
           <div class="col-xs-4">
              <textarea class="form-control input-sm" rows="2" id="consignerAddress" placeholder="Consigner Address" disabled>{{ lr.consigner.address }}</textarea>              
            </div> 
           
          </div>
        </div>

         <div class="row bar">   
          <div id="fm2" class="form-group" >             
            <label for="consigneeCode" class="control-label col-xs-2"><small>Consignee Code</small></label>            
            <div class="col-xs-4">
              <select id="consigneeCode" ng-model="lr.consignee" ng-options="consignee.consigneeCode for consignee in consigneeList" >
              <option value="" selected="selected">Select</option>
              </select>         
                
              
            </div>
             <label for="consigneeName" class="control-label col-xs-2"><small>Consignee Name</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="consigneeName" placeholder="Consignee Name" value=" {{ lr.consignee.consigneeName }}" disabled>
            </div>
           
           
          </div>
        </div>

        <div class="row">   
          <div id="fm2" class="form-group" >             
           
            <label for="consigneeServTax" class="control-label col-xs-2"><small>Service Tax No(Consignee)</small></label>            
            <div class="col-xs-4">
              <input type="text" class="form-control input-sm" id="consigneeServTax" placeholder="Consignee Service Tax" value=" {{ lr.consignee.serviceTax}}" disabled>
            </div>  
            <label for="consigneeAddress" class="control-label col-xs-2"><small>Consignee Add</small></label>            
           <div class="col-xs-4">
              <textarea class="form-control input-sm" rows="2" id="consigneeAddress" placeholder="Consignee Address" disabled>{{ lr.consignee.address }}</textarea>              
            </div> 
           
          </div>
        </div>


        <div class="row">
         <div class="form-group">
            <div class="col-xs-2">                              
            </div>
            <div class="col-xs-8"> 
              <button id="lrBtn" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-save-file"></span></button>           
            </div>
          </div>           
        </div>

      </div>
    </form>
  </div>
  <div class="col-md-2">
    <!-- Blank right navigation-->    
  </div>
    
</div>



