<div class="row">
  
  
   <!--vertical navigation bar -->
     <div class="col-md-2" data-ng-controller="LeftNavCtrl">
      <div class="cliente"> 
        <ul class="nav nav-pills nav-stacked" >
          <li ><a href="/#/lrhome"><i class="fa fa-list-alt fa-fw" ></i>Search LR <span class="glyphicon glyphicon-search"></span></a></li>
          <li  class="active"><a href="/#/createlr><i class="fa fa-file-o fa-fw"></i>New LR <span class="glyphicon glyphicon-save-file"></span></a></li>
          <li><a href="/#/lrreports"><i class="fa fa-file-o fa-fw"></i>Reports <span class="glyphicon glyphicon-save-file"></span></a></li>   
          <li ng-show="isAdmin"><a href="/#/signup"><i class="fa fa-list-alt fa-fw" ></i>New User </a></li>
        </ul>
      </div>
    </div>

 
            

  <!--form design -->
  <div class="col-md-10" data-ng-controller="LrCtrl">
    <form class="form-horizontal" name="lrForm" data-ng-submit="submitForm()"> 

    
      <div class="col-xs-12">
      <!--first page -->

               
         <div class="row">
          <div class="form-group">        
            <label for="vehicleno" class="control-label col-xs-2"><small>Vehicle No</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="vehicleno" placeholder="Vehicle No"
               ng-model="lr.vehicleNo">          
            </div>
             <label for="vehicleowner" class="control-label col-xs-2"><small>Vehicle Owner</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="vehicleowner" placeholder="Vehicle Owner"
               ng-model="lr.vehicleOwner"> 
            </div>

          </div>
        </div>
    
       <div class="row">   
          <div id="fm2" class="form-group" >             
            <label for="consigner" class="control-label col-xs-2"><small>Consignor Add</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="consigner" placeholder="Consignor Add" ng-model="lr.consignor">
            </div>
            <label for="consignee" class="control-label col-xs-2"><small>Consignee Add</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="consignee" placeholder="Consignee Add"  ng-model="lr.consignee">
            </div>
           
          </div>
        </div>

        <div class="row">
          <div class="form-group"> 
            <label for="consignerServTax" class="control-label col-xs-2"><small>Service Tax No(Consignor)</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="consignerServTax" placeholder="" ng-model="lr.servTaxConsigner">
            </div>            
            <label for="consigneeServTax" class="control-label col-xs-2"><small>Service Tax No(Consignee)</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="consigneeServTax" placeholder="" ng-model="lr.servTaxConsignee">
            </div>
            
          </div>
        </div>

        <div class="row">
          <div class="form-group"> 
            <label for="billingParty" class="control-label col-xs-2"><small>Billing Party</small></label>            
            <div class="col-xs-2">
              <input type="text" class="form-control input-sm" id="billingParty" placeholder="" ng-model="lr.billingParty">
            </div>                    
           
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-xs-2">                              
            </div>
            <div class="col-xs-8"> 
              <button id="lrBtn" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-save-file"></span></button>           
            </div>
          </div>           
        </div>

    
      </div>
    </form>
  </div>
  
</div>



