     <!--vertical navigation bar -->
    <div class="col-md-2">    
      <div class="cliente"> 
        <ul class="nav nav-pills nav-stacked" data-ng-controller="LeftNavCtrl">      
          <li ><a href="/#/searchmultilr"><i class="fa fa-list-alt fa-fw" ></i>Search MultiLR<span class="glyphicon glyphicon-search"></span></a></li>
          <li class="active"><a href="/#/createmultilr"><i class="fa fa-list-alt fa-fw" ></i>Process MultiLR<span class="glyphicon glyphicon-save-file"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-8" data-ng-controller="EditMultiLRCtrl">
      <div class="row centered-form" data-ng-show="msg">
        <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div>
      </div>

      <!-- Blank hight is inserted-->
      <div class="row">
        <div style="height: 10px;"></div>
      </div>

      <div class="row">
        <form class="form-horizontal" name="EditMultiLRForm" data-ng-submit="editTransaction()">      
          <div class="col-xs-12 panel-body">
            
            <div class="row">
              <div class="form-group">
                <label for="id" class="control-label col-xs-2 col-md-3"><small>Multi LR ID</small></label>            
                <div class="col-xs-2 col-md-3">
                  <input type="text" class="form-control input-sm" id="transid" name="transid" placeholder="MultiLR ID" ng-model="transaction.id" disabled>
                </div> 
                <label for="status" class="control-label col-xs-2 col-md-3"><small>Status</small></label>            
                <div class="col-xs-2 col-md-3">
                  <input type="text" class="form-control input-sm" id="status" name="status" placeholder="Status" ng-model="transaction.status" disabled>
                </div> 
              </div>
            </div>

            <div class="row">
            <!-- Show data -->
              <div class="row col-md-offset-2" ng-show="transaction.lrs">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                   <tr>
                      <th>Sl No</th>
                      <th>LR No</th>
                      <th>Vehicle No</th>
                      <th>Vehicle Owner</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="lrItem in transaction.lrs track by $index">
                    <td>{{$index+1}}                      
                    </td>
                    <td>{{lrItem.id}}</td>
                    <td>{{lrItem.vehicleNo}}</td>
                    <td>{{lrItem.vehicleOwner}}</td>
                    <td>{{lrItem.lrDate}}</td>                    
                    <td>{{lrItem.status}}</td>
                  </tr>
                  </tbody>
                </table>                
              </div>       
            </div>

          </div>
        </form>
      </div>
    </div>      

      
    <div class="col-md-2">
      <!-- Blank right navigation-->    
    </div>     

  </div>
