<div class="row">
  
  
   <!--vertical navigation bar -->
    <div class="col-md-2" data-ng-controller="LeftNavCtrl">
      <div class="cliente"> 
        <ul class="nav nav-pills nav-stacked" >
          <li class="active"><a href="/#/lrhome"><i class="fa fa-list-alt fa-fw" ></i>Search LR <span class="glyphicon glyphicon-search"></span></a></li>
          <li><a href="/#/createlr"><i class="fa fa-file-o fa-fw"></i>New LR <span class="glyphicon glyphicon-save-file"></span></a></li>
          <li><a href="/#/lrreports"><i class="fa fa-file-o fa-fw"></i>Reports <span class="glyphicon glyphicon-save-file"></span></a></li>          
        </ul>
      </div>
    </div>       

  <!--view design -->    
    <div class="col-md-10" data-ng-controller="EditLrCtrl">      
      <div class="row">              
                       
        <form class="form-horizontal" name="lrForm" data-ng-submit="updateLR()">       
        <div class="col-xs-8">
        <div class="row centered-form" data-ng-show="msg">
          <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div>
        </div>
        <!--first page -->    
          <div class="row">
            <div class="form-group">
                <label for="lrNo" class="control-label col-xs-2"><small>LR NO</small></label>
                <div class="col-xs-4">
                  <input type="text"  class="form-control input-sm" id="lrNo" placeholder="" ng-model="lr.lrNo"/>
                </div> 
                <div class="col-xs-4">                 
                </div>                       
            </div>  
          </div>         
          <div class="row">
            <div class="form-group">        
              <label for="vehicleno" class="control-label col-xs-2"><small>Vehicle No</small></label>            
              <div class="col-xs-4">
                <input type="text" class="form-control input-sm" id="vehicleno" placeholder="Vehicle No"
                 ng-model="lr.vehicleNo">          
              </div>
               <label for="vehicleowner" class="control-label col-xs-2"><small>Vehicle Owner</small></label>            
              <div class="col-xs-4">
                <input type="text" class="form-control input-sm" id="vehicleowner" placeholder="Vehicle Owner"
                 ng-model="lr.vehicleOwner"> 
              </div>

            </div>
          </div>   
          <div class="row">
            <div class="form-group"> 
              <label for="billingParty" class="control-label col-xs-2"><small>Billing Party</small></label>            
              <div class="col-xs-6">
                <input type="text" class="form-control input-sm" id="billingParty" placeholder="" ng-model="lr.billingParty">
              </div>                    
             
            </div>
          </div>     
          
          <div class="row bar">   
            <div id="fm2" class="form-group" >             
              <label for="consignerCode" class="control-label col-xs-2"><small>Consignor Code</small></label>            
              <div class="col-xs-4">
                <select id="consignerCode"  data-ng-model="lr.consigner" data-ng-options="consigner.consignerCode for consigner in consignerList track by consigner.id" >
                  <option value="" selected="selected">Select</option>
                </select>           
                
              </div>
               <label for="consignerName" class="control-label col-xs-2"><small>Consigner Name</small></label>            
              <div class="col-xs-4">
                <input type="text" class="form-control input-sm" id="consignerName" placeholder="Consignor Name" value=" {{ lr.consigner.consignerName }}" disabled>
              </div>
             
             
            </div>
          </div>

          <div class="row">   
            <div id="fm2" class="form-group" >             
             
              <label for="consignerServTax" class="control-label col-xs-2"><small>Service Tax No(Consignor)</small></label>            
              <div class="col-xs-4">
                <input type="text" class="form-control input-sm" id="consignerServTax" placeholder="Consigner Service Tax" value=" {{ lr.consigner.serviceTax}}" disabled>
              </div>  
              <label for="consignerAddress" class="control-label col-xs-2"><small>Consigner Add</small></label>            
              <div class="col-xs-4">
                <textarea class="form-control input-sm" rows="2" id="consignerAddress" placeholder="Consigner Address" disabled>{{ lr.consigner.address }}</textarea>              
              </div> 
             
            </div>
          </div>

           <div class="row bar">   
            <div id="fm2" class="form-group" >             
              <label for="consigneeCode" class="control-label col-xs-2"><small>Consignee Code</small></label>            
              <div class="col-xs-4">
                <select id="consigneeCode" ng-model="lr.consignee" ng-options="consignee.consigneeCode for consignee in consigneeList track by consignee.id" >
                <option value="" selected="selected">Select</option>
                </select>         
                  
                
              </div>
               <label for="consigneeName" class="control-label col-xs-2"><small>Consignee Name</small></label>            
              <div class="col-xs-4">
                <input type="text" class="form-control input-sm" id="consigneeName" placeholder="Consignee Name" value=" {{ lr.consignee.consigneeName }}" disabled>
              </div>
             
             
            </div>
          </div>

          <div class="row">   
            <div id="fm2" class="form-group" >             
             
              <label for="consigneeServTax" class="control-label col-xs-2"><small>Service Tax No(Consignee)</small></label>            
              <div class="col-xs-4">
                <input type="text" class="form-control input-sm" id="consigneeServTax" placeholder="Consignee Service Tax" value=" {{ lr.consignee.serviceTax}}" disabled>
              </div>  
              <label for="consigneeAddress" class="control-label col-xs-2"><small>Consignee Add</small></label>            
             <div class="col-xs-4">
                <textarea class="form-control input-sm" rows="2" id="consigneeAddress" placeholder="Consignee Address" disabled>{{ lr.consignee.address }}</textarea>              
              </div> 
             
            </div>
          </div>

          

          <div class="row">
           <div class="form-group">
              <div class="col-xs-2">                              
              </div>
              <div class="col-xs-8">                 
                <button type="submit" class="btn btn-primary btn-lg" >
                    SAVE
              </button>           
              </div>
            </div>           
          </div>

        </div>
        </form>
        <div class="col-xs-2"> 
          <div class="row">           
              <div class="col-xs-8">                              
              </div>
              <div class="col-xs-4">                 
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#expenditureModal">
                    Expenditure
                </button>           
              </div>                  
          </div>    
          <div class="row">
              <div class="col-xs-8">                              
              </div>           
              
              <div class="col-xs-4">  

                 <button type="button" class="btn btn-link" data-toggle="modal" data-target="#otherexpenditureModal">
                    Other Expenditure
                </button>           
              </div>                  
          </div> 
          <div class="row">           
              <div class="col-xs-8">                              
              </div>
              <div class="col-xs-4">                 
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#incomeModal">
                    Billing
                </button>            
              </div>                  
          </div> 
          <div class="row">           
            <div class="col-xs-8">                              
            </div>
            <div class="col-xs-4">                 
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#printLRModal">
                    Print LR
                </button>           
            </div>                  
          </div>     
           <div class="row">           
            <div class="col-xs-8">                              
            </div>
            <div class="col-xs-4">                 
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#printChalanModal">
                    Create CHALAN
                </button>           
            </div>                  
          </div>   
              
        </div>
       
            
      </div>    

     

      <div class="row">
          <div class="col-xs-12">
             <!-- Modal -->
            <div class="modal fade" id="expenditureModal" tabindex="-1" role="dialog" 
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close" 
                    data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    Add Expediture
                    </h4>
                  </div>
            
                  <!-- Modal Body -->
                  <div class="modal-body">
                
                    <form class="form-horizontal" name="lrexpendForm" data-ng-submit="submitExpenditureForm()"> 
                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="lrNo">LR No</label>
                        <div class="col-xs-2">
                          <input type="text"  class="form-control" id="lrNo" placeholder="" ng-model="lr.lrNo"/>
                        </div>                       
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="frBroker">Freight To Broker</label>
                        <div class="col-xs-4">
                          <input type="text"  class="form-control" id="frBroker" placeholder="" ng-model="lr.freightToBroker"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="exPayBroker" >Extra Pay To Broker</label>
                        <div class="col-xs-3">
                          <input type="text" class="form-control" id="exPayBroker" placeholder="" ng-model="lr.extraPayToBroker"/>
                        </div>
                      </div>
                    </div>

                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="advance">Advance</label>
                        <div class="col-xs-4">
                          <input type="text" class="form-control" id="advance" placeholder="" ng-model="lr.advance"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="balanceFreight" >Balance Freight</label>
                        <div class="col-xs-3">                         
                          <input type="text" class="form-control" id="balanceFreight1" placeholder="" value="{{ (lr.freightToBroker*1) - (lr.advance*1) }}" disabled/>                          
                          
                        </div>
                      </div>
                    </div>

                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="loadingCharges">Loading Charges</label>
                        <div class="col-xs-4">
                          <input type="text" class="form-control" id="loadingCharges" placeholder="" ng-model="lr.loadingCharges"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="unloadigCharges" >Unloading Charges</label>
                        <div class="col-xs-3">
                          <input type="text" class="form-control" id="unloadingCharges" placeholder="" ng-model="lr.unloadingCharges"/>
                        </div>
                      </div>
                    </div>

                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="loadingDetBroker">Loading Det To Broker</label>
                        <div class="col-xs-4">
                          <input type="text" class="form-control" id="loadingDetBroker" placeholder="" ng-model="lr.loadingDetBroker"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="unloadingDetBroker" >Unloading Det To Broker</label>
                        <div class="col-xs-3">
                          <input type="text" class="form-control" id="unloadingDetBroker" placeholder="" ng-model="lr.unloadingDetBroker"/>
                        </div>
                      </div>
                    </div>

                    <div class="row modal-footer">
                      <div class="form-group">
                        <div class="col-xs-4">
                          <button type="button" class="btn btn-default"
                          data-dismiss="modal">
                              Close
                          </button>
                        </div>
                        <div class="col-xs-4">
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>

                   
                  </form>  
                
                  </div>
            
               
                </div>
              </div>
            </div>
          </div>           
      </div> 

      <div class="row">
        <div class="col-xs-12">
             <!-- Modal -->
            <div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" 
            aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close" 
                    data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    Add Billing
                    </h4>
                  </div>
            
                  <!-- Modal Body -->
                  <div class="modal-body">
                
                    <form class="form-horizontal" name="lrexpendForm" data-ng-submit="submitIncomeForm()"> 
                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="lrNo">LR No</label>
                        <div class="col-xs-2">
                          <input type="text"  class="form-control" id="lrNo" placeholder="" ng-model="lr.lrNo"/>
                        </div>                       
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="frBroker">Freight To Broker</label>
                        <div class="col-xs-4">
                          <input type="text"  class="form-control" id="frBroker" placeholder="" ng-model="lr.freightToBrokerBilling"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="exPayBroker" >Extra Pay To Broker</label>
                        <div class="col-xs-3">
                          <input type="text" class="form-control" id="exPayBroker" placeholder="" ng-model="lr.extraPayToBrokerBilling"/>
                        </div>
                      </div>
                    </div>

                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="loadingCharges">Loading Charges</label>
                        <div class="col-xs-4">
                          <input type="text" class="form-control" id="loadingCharges" placeholder="" ng-model="lr.loadingChargesBilling"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="unloadigCharges" >Unloading Charges</label>
                        <div class="col-xs-3">
                          <input type="text" class="form-control" id="unloadingCharges" placeholder="" ng-model="lr.unloadingChargesBilling"/>
                        </div>
                      </div>
                    </div>

                     <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="loadingDetBroker">Loading Det To Broker</label>
                        <div class="col-xs-4">
                          <input type="text" class="form-control" id="loadingDetBroker" placeholder="" ng-model="lr.loadingDetBrokerBilling"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="unloadingDetBroker" >Unloading Det To Broker</label>
                        <div class="col-xs-3">
                          <input type="text" class="form-control" id="unloadingDetBroker" placeholder="" ng-model="lr.unloadingDetBrokerBilling"/>
                        </div>
                      </div>
                    </div>

                    <div class="row modal-footer">
                      <div class="form-group">
                        <div class="col-xs-4">
                          <button type="button" class="btn btn-default"
                          data-dismiss="modal">
                              Close
                          </button>
                        </div>
                        <div class="col-xs-4">
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>

                   
                  </form>  
                
                 </div>
            
               
                </div>
              </div>
             </div>
        </div>
      </div>  
      

      <div class="row">
          <div class="col-xs-12">
             <!-- Modal -->
            <div class="modal fade" id="otherexpenditureModal" tabindex="-1" role="dialog" 
            aria-labelledby="myModalLabel1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close" 
                    data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">
                    Add Other Expediture
                    </h4>
                  </div>
            
                  <!-- Modal Body -->
                  <div class="modal-body">
                
                    <form class="form-horizontal" name="lrotherexpendForm" data-ng-submit="submitOtherExpenditureForm()"> 
                    <div class="row">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label col-xs-2" for="lrNo">LR No</label>
                        <div class="col-xs-2">
                          <input type="text"  class="form-control" id="lrNo" placeholder="" ng-model="lr.lrNo" disabled/>
                        </div>                       
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group">                       
                        <label  class="col-sm-2 control-label col-xs-2" for="amount">Amount</label>
                        <div class="col-xs-2">
                          <input type="number"  class="form-control" id="amount" placeholder="" required ng-model="lr.otherAmount"/>
                        </div>
                        <label class="col-sm-2 control-label col-xs-2" for="remarks" >Remarks</label>
                        <div class="col-xs-2">
                          <input type="text" class="form-control" id="remarks" placeholder="" required ng-model="lr.otherRemarks"/>
                        </div>
                      </div>
                    </div>

                    

                    <div class="row modal-footer">
                      <div class="form-group">
                        <div class="col-xs-4">
                          <button type="button" class="btn btn-default"
                          data-dismiss="modal">
                              Close
                          </button>
                        </div>
                        <div class="col-xs-4">
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                           

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      
                        <div class="col-xs-12">
                          <table class="table">
                            <tr>
                              <th>SlNo
                              </th>
                              <th>LR No
                              </th>
                              <th>Other Amount
                              </th>
                              <th>Remarks
                              </th>
                            </tr>
                            <tr ng-repeat="lrItem in lr.otherExpenditures track by $index">
                              <td>Other{{$index+1}}
                              </td>
                              <td>{{lrItem.lrId}}
                              </td>
                              <td>{{lrItem.amount}}
                              </td>
                              <td>{{lrItem.remarks}}
                              </td>
                             
                              <td>
                                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeOtherExpenditure(lrItem.id,lrItem.lrId)"/>
                              </td>
                            </tr>
                          </table>
                         
                        </div>
                        
                      
                    </div>

                   
                  </form>  
                
                 </div>
            
               
                </div>
              </div>
            </div>
          </div>
        </div>
      


   
      <div  class="row">
        <div class="col-md-8">
          <div class="well row modal fade" id="printLRModal" tabindex="-1" role="dialog" 
            aria-labelledby="myModalLabel" aria-hidden="true">     
                   
              <div class="col-md-2">
                <button type="button" class="btn btn-success btn-lg btn-block"  ng-click="printDiv('printlr');">
                    Print LR  <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
           <div class="col-md-2">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                              Close
              </button>
           </div>
           <div class="col-md-8">
           </div>
              <div id="printlr" class="well col-xs-8 col-sm-8 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-3" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>NATIONAL ROADWAYS</strong>
                        <br>
                        Shop No7,H.No. 8-59/4, Beside Reliable Ready Mix
                        <br>
                        Bauchupally 'X' Road,
                        <br>
                        Hyderabad-5000 090.
                        <br>
                        <abbr title="Phone">Cell:</abbr> 93911 88488, 93460 10458
                        <br>
                        <abbr title="Phone">Email:</abbr> sanjaysinghrathore90@gmail.com
                    </address>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: {{lr.lrDate}}</em>
                    </p>
                    <p>
                        <em>Load Receipt #: {{lr.lrNo}}</em>
                    </p>
                  </div>
                </div>
              <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12">
               <div class="row">
                  <strong>CONSIGNER COPY</strong>
               </div>
                <div class="row bar">
                  <div class="col-md-2">Vehicle No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                <div class="row bar">
                  <div class="col-md-2">PO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">DO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">Particular :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Value :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">WeightS :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Consigner :</div>
                  <div class="col-md-10"><address>
                              <strong>{{lr.consigner.consignerName}}({{lr.consigner.consignerCode}})</strong>
                              <br>
                                     {{lr.consigner.address}}
                              <br>
                                    <abbr title="Loading Point">Loading Point:</abbr> {{lr.consigner.fromPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consigner.serviceTax}}
                            </address>
                    </div>
                </div>
                 <div class="row">
                  <div class="col-md-2">Consignee :</div>
                  <div class="col-md-10"> 
                          <address>
                              <strong>{{lr.consignee.consigneeName}}({{lr.consignee.consigneeCode}})</strong>
                              <br>
                                     {{lr.consignee.address}}
                              <br>
                                    <abbr title="UnLoading Point">UnLoading Point:</abbr> {{lr.consigner.toPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consignee.serviceTax}}
                            </address>
                    </div>
                </div>
                
                </div>               
            </div>

              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>NATIONAL ROADWAYS</strong>
                        <br>
                        Shop No7,H.No. 8-59/4, Beside Reliable Ready Mix
                        <br>
                        Bauchupally 'X' Road,
                        <br>
                        Hyderabad-5000 090.
                        <br>
                        <abbr title="Phone">Cell:</abbr> 93911 88488, 93460 10458
                        <br>
                        <abbr title="Phone">Email:</abbr> sanjaysinghrathore90@gmail.com
                    </address>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: {{lr.lrDate}}</em>
                    </p>
                    <p>
                        <em>Load Receipt #: {{lr.lrNo}}</em>
                    </p>
                  </div>
                </div>
              <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12">
               <div class="row">
                  <strong>CONSIGNER COPY</strong>
               </div>
                <div class="row bar">
                  <div class="col-md-2">Vehicle No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                <div class="row bar">
                  <div class="col-md-2">PO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">DO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">Particular :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Value :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">WeightS :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Consigner :</div>
                  <div class="col-md-10"><address>
                              <strong>{{lr.consigner.consignerName}}({{lr.consigner.consignerCode}})</strong>
                              <br>
                                     {{lr.consigner.address}}
                              <br>
                                    <abbr title="Loading Point">Loading Point:</abbr> {{lr.consigner.fromPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consigner.serviceTax}}
                            </address>
                    </div>
                </div>
                 <div class="row">
                  <div class="col-md-2">Consignee :</div>
                  <div class="col-md-10"> 
                          <address>
                              <strong>{{lr.consignee.consigneeName}}({{lr.consignee.consigneeCode}})</strong>
                              <br>
                                     {{lr.consignee.address}}
                              <br>
                                    <abbr title="UnLoading Point">UnLoading Point:</abbr> {{lr.consigner.toPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consignee.serviceTax}}
                            </address>
                    </div>
                </div>
                
                </div>               
            </div>

              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>NATIONAL ROADWAYS</strong>
                        <br>
                        Shop No7,H.No. 8-59/4, Beside Reliable Ready Mix
                        <br>
                        Bauchupally 'X' Road,
                        <br>
                        Hyderabad-5000 090.
                        <br>
                        <abbr title="Phone">Cell:</abbr> 93911 88488, 93460 10458
                        <br>
                        <abbr title="Phone">Email:</abbr> sanjaysinghrathore90@gmail.com
                    </address>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: {{lr.lrDate}}</em>
                    </p>
                    <p>
                        <em>Load Receipt #: {{lr.lrNo}}</em>
                    </p>
                  </div>
                </div>
              <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12">
               <div class="row">
                  <strong>CONSIGNER COPY</strong>
               </div>
                <div class="row bar">
                  <div class="col-md-2">Vehicle No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                <div class="row bar">
                  <div class="col-md-2">PO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">DO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">Particular :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Value :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">WeightS :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Consigner :</div>
                  <div class="col-md-10"><address>
                              <strong>{{lr.consigner.consignerName}}({{lr.consigner.consignerCode}})</strong>
                              <br>
                                     {{lr.consigner.address}}
                              <br>
                                    <abbr title="Loading Point">Loading Point:</abbr> {{lr.consigner.fromPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consigner.serviceTax}}
                            </address>
                    </div>
                </div>
                 <div class="row">
                  <div class="col-md-2">Consignee :</div>
                  <div class="col-md-10"> 
                          <address>
                              <strong>{{lr.consignee.consigneeName}}({{lr.consignee.consigneeCode}})</strong>
                              <br>
                                     {{lr.consignee.address}}
                              <br>
                                    <abbr title="UnLoading Point">UnLoading Point:</abbr> {{lr.consigner.toPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consignee.serviceTax}}
                            </address>
                    </div>
                </div>
                
                </div>               
            </div>

              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>NATIONAL ROADWAYS</strong>
                        <br>
                        Shop No7,H.No. 8-59/4, Beside Reliable Ready Mix
                        <br>
                        Bauchupally 'X' Road,
                        <br>
                        Hyderabad-5000 090.
                        <br>
                        <abbr title="Phone">Cell:</abbr> 93911 88488, 93460 10458
                        <br>
                        <abbr title="Phone">Email:</abbr> sanjaysinghrathore90@gmail.com
                    </address>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: {{lr.lrDate}}</em>
                    </p>
                    <p>
                        <em>Load Receipt #: {{lr.lrNo}}</em>
                    </p>
                  </div>
                </div>
              <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12">
               <div class="row">
                  <strong>CONSIGNER COPY</strong>
               </div>
                <div class="row bar">
                  <div class="col-md-2">Vehicle No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                <div class="row bar">
                  <div class="col-md-2">PO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">DO No :</div>
                  <div class="col-md-10">{{lr.vehicleNo}}</div>
                </div>
                 <div class="row bar">
                  <div class="col-md-2">Particular :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Value :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">WeightS :</div>
                  <div class="col-md-10"><input type="text" style="WIDTH: 100%"/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Consigner :</div>
                  <div class="col-md-10"><address>
                              <strong>{{lr.consigner.consignerName}}({{lr.consigner.consignerCode}})</strong>
                              <br>
                                     {{lr.consigner.address}}
                              <br>
                                    <abbr title="Loading Point">Loading Point:</abbr> {{lr.consigner.fromPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consigner.serviceTax}}
                            </address>
                    </div>
                </div>
                 <div class="row">
                  <div class="col-md-2">Consignee :</div>
                  <div class="col-md-10"> 
                          <address>
                              <strong>{{lr.consignee.consigneeName}}({{lr.consignee.consigneeCode}})</strong>
                              <br>
                                     {{lr.consignee.address}}
                              <br>
                                    <abbr title="UnLoading Point">UnLoading Point:</abbr> {{lr.consigner.toPlace}}
                              <br>
                                <abbr title="Service Tax">Service Tax:</abbr> {{lr.consignee.serviceTax}}
                            </address>
                    </div>
                </div>
                
                </div>               
            </div>



             
          </div>
          

          </div>
         
          </div>
          </div>

        
          



   <div class="row">
          <div class="col-xs-12">
             <!-- Modal -->
            <div class="modal fade" id="printChalanModal" tabindex="-1" role="dialog" 
            aria-labelledby="myModalLabel1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close" 
                    data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">
                        Create Chalan
                    </h4>
                  </div>
            
                  <!-- Modal Body -->
                  <div class="modal-body">
                
                    <form class="form-horizontal" name="lrotherexpendForm" data-ng-submit="submitOtherExpenditureForm()"> 
                    <div class="row">
                      <div class="form-group">
                         <label  class="col-sm-12 control-label col-md-12" for="columns">Select Expenditures Columns</label>
                         <div class="col-md-8">
                            <select multiple ng-model="expenditureColumns" class="form-control" id="columns">
                              <option value="FREIGHT TO BROKER- {{lr.freightToBroker}}">FREIGHT TO BROKER</option>
                              <option value="EXTRA PAY TO BROKER - {{lr.extraPayToBroker}}">EXTRA PAY TO BROKER</option>
                              <option value="ADVANCE - {{lr.advance}}">ADVANCE</option>
                              <option value="ADVANCE - {{lr.balanceFreight}}">BALANCE FREIGHT</option>
                              <option value="LOADING CHARGES - {{lr.loadingCharges}}">LOADING CHARGES</option>
                              <option value="UNLOADING CHARGES - {{lr.unloadingCharges}}">UNLOADING CHARGES</option>
                              <option  value="LOADING DET BROKER - {{lr.loadingdetBroker}}">LOADING DET BROKER</option>
                              <option value="UNLOADING DET BROKER - {{lr.unloadingdetBroker}}">UNLOADING DET BROKER</option>
                            </select>   
                          </div>                    
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group">
                          
                         <label  class="col-sm-2 control-label col-md-2" for="columns">Select Other Expenditures To Generate Chalan</label>
                         <div class="col-md-10">
                          </div>
                         <div class="col-md-8">
                            <select multiple class="form-control" id="columns">
                              <option>FREIGHT TO BROKER</option>
                              <option>EXTRA PAY TO BROKER</option>
                              <option>ADVANCE</option>
                              <option>BALANCE FREIGHT</option>
                              <option>LOADING CHARGES</option>
                              <option>UNLOADING CHARGES</option>
                              <option>LOADING DET BROKER</option>
                              <option>UNLOADING DET BROKER</option>
                            </select>   
                          </div>                    
                      </div>
                    </div>                   

                    

                    <div class="row modal-footer">
                      <div class="form-group">
                        <div class="col-xs-4">
                          <button type="button" class="btn btn-default"
                          data-dismiss="modal">
                              Close
                          </button>
                        </div>
                        <div class="col-xs-4">
                          <button type="submit" class="btn btn-primary" ng-click="saveChalana(expenditureColumns)"/>
                            Save
                          </button>
                           

                        </div>
                      </div>
                    </div>


                    <div class="row">
                      
                        <div id="printchalan" class="col-xs-12">
                       
                          <table class="table">
                            
                            <tr ng-repeat="column in expenditureColumns">                              
                              <td>{{column}}
                              </td>                             
                            </tr>
                          </table>
                         
                        </div>
                         <button type="button" class="btn btn-success btn-lg btn-block"  ng-click="printDiv('printchalan');">
                          Print CHALAN  <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                      
                    </div>

                   
                  </form>  
                
                 </div>
            
               
                </div>
              </div>
            </div>
          </div>
        </div>
    
  
               

</div>
    
      
      
   


