<div data-ng-controller="LoginCtrl">
  <form class="form-horizontal" name="loginForm" data-ng-submit="submitForm()">
    <!-- Text input-->
	<div class="form-group">
  	  <label for="loginuser" class="sr-only"></label>
  	  <label class="col-md-4 control-label" for="loginuser">Username</label>
  	  <div class="col-md-4">
        <input id="loginuser" name="user" type="text" placeholder="Username" class="form-control input-md" required ng-model="user">    
        <span id="loginuserStatus" class="sr-only">(success)</span>  	
  	    <div data-ng-messages="loginform.user.$error" data-ng-if="loginform.user.$dirty" role="alert" class="text-danger">
          <div data-ng-message="required">Please fill out this field.</div>            
        </div>
      </div>
    </div>

	<!-- Password input-->
	<div class="form-group">
  	  <label for="loginpassword" class="sr-only"></label>
      <label class="col-md-4 control-label" for="loginpassword">Password</label>
      <div class="col-md-4">
        <input id="loginpassword" name="password" type="password" placeholder="Password" class="form-control input-md" required ng-model="password">
		<div data-ng-messages="loginform.password.$error" data-ng-if="loginform.password.$dirty" role="alert" class="text-danger">
      	  <div data-ng-message="required">Please fill out this field.</div>
    	</div>    
  	  </div>
    </div>

  	<!-- Button -->
	<div class="form-group">  
	  <label class="col-md-4 control-label" for="loginbutton"></label>  	  
  	  <div class="col-md-4">  	  	
        <button id="loginbutton" class="btn btn-primary btn-lg btn-lg-sw" type="submit" data-ng-disabled="loginForm.$invalid">Login</button>    
      </div> 
    </div>
  </form>

</div>
