<div class="row">

   <!--vertical navigation bar -->

  <div class="col-md-2">    
    <div class="cliente"> 
    <ul class="nav nav-pills nav-stacked" >                
      <li class="active"><a href="/#/lrhome"><i class="fa fa-list-alt fa-fw" ></i>LR       <span class="glyphicon glyphicon-search"></span></a></li>
      <li><a href="/#/createlr"><i class="fa fa-file-o fa-fw"></i>Generate LR <span class="glyphicon glyphicon-save-file"></span></a></li>  
       <li><a href="/#/createlr"><i class="fa fa-file-o fa-fw"></i>Reports <span class="glyphicon glyphicon-save-file"></span></a></li>               
    </ul>
    </div>
  </div>


  <div class="col-md-5"> 
     
    <div class="row">    
      <!-- Blank hight is inserted--> 
      <div class="col-md-12">       
        <div style="height: 40px;">      
        </div>
      </div>
     <div class="col-md-12">   
      <form id="custom-search-form" class="form-search form-horizontal pull-right">
        <input type="text" class="search-query" placeholder="LR Search">
        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>                    
      </form> 
     </div>    
  </div>

   <div class="col-md-5">
    <!-- Blank right navigation-->    
  </div>
    

</div>





