<div class="row">

  <!--vertical navigation bar -->
  <div class="col-md-2" data-ng-controller="LeftNavCtrl">
    <div class="cliente"> 
      <ul class="nav nav-pills nav-stacked" >
        <li class="active"><a href="/#/lrhome"><i class="fa fa-list-alt fa-fw" ></i>Search LR <span class="glyphicon glyphicon-search"></span></a></li>
        <li><a href="/#/createlr"><i class="fa fa-file-o fa-fw"></i>New LR <span class="glyphicon glyphicon-save-file"></span></a></li>
        <li><a href="/#/lrreports"><i class="fa fa-file-o fa-fw"></i>Reports <span class="glyphicon glyphicon-save-file"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-8" data-ng-controller="LrhomeCtrl">  
  <form id="lr-report-form" name="lr-report-form" class="form-search form-horizontal" data-ng-submit="getLRByDate()">
    <div class="row centered-form" data-ng-show="msg">
        <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div>
      </div>     
    <div class="row">    
      <!-- Blank hight is inserted--> 
      <div style="height: 20px;"></div> 

      <div class="col-md-offset-4 col-md-6">   
        
          <input type="text" id="date" name="date" class="search-query" placeholder="Date (yyyy-MM-dd)" ng-model="filter.date" data-date-format="yyyy-MM-dd" required ng-pattern="/^(\d{4})-(\d{1,2})-(\d{1,2})$/">
          <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>          
        
      </div>

    </div>
    <div class="row">
      <div data-ng-messages="lr-report-form.date.$error" data-ng-if="lr-report-form.date.$dirty" role="alert" class="text-danger">
        <div data-ng-message="pattern"><small>Date should be yyyy-MM-dd format</small></div>
        <div data-ng-message="required"><small>Date is required</small></div>
      </div>
    </div>
    <div class="row">
                      
                        <div class="col-xs-12">
                          <table class="table">
                            <tr>
                              <th>SlNo
                              </th>
                              <th>LR No
                              </th>
                              <th>Vehicle No
                              </th>
                              <th>Vehicle Owner
                              </th>
                            </tr>
                            <tr ng-repeat="lrItem in LRList track by $index">
                              <td>Other{{$index+1}}
                              </td>
                              <td>{{lrItem.id}}
                              </td>
                              <td>{{lrItem.vehicleNo}}
                              </td>
                              <td>{{lrItem.vehicleOwner}}
                              </td>
                              
                              <td>
                                <input type="button" value="Edit" class="btn btn-primary" ng-click="searchLR(lrItem)"/>
                              </td>
                            </tr>
                          </table>
                         
                        </div>
                        
                      
                    </div>
                    </form>
  </div>

  <div class="col-md-2">
    <!-- Blank right navigation-->    
  </div>
</div>
