  <div class="row">

     <!--vertical navigation bar -->
    <div class="col-md-2">    
      <div class="leftNav"> 
        <ul class="nav nav-pills nav-stacked" data-ng-controller="LeftNavCtrl">      
          <li class="active"><a href="/#/searchmultilr"><i class="fa fa-list-alt fa-fw">Search Multi LR</i></a></li>
          <li> <a href="/#/createmultilr"><i class="fa fa-list-alt fa-fw" >New Multi LR </i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-8" data-ng-controller="SearchMultiLRCtrl">
      <div class="row centered-form" data-ng-show="msg">      
        <div class="alert alert-danger text-center col-md-offset-2 col-md-8 col-sm-offset2 col-sm8 col-xs-offset-1 col-xs-10" role="alert">{{msg}}</div>
      </div>
      <!-- Blank hight is inserted-->    
      <div class="col-md-8" style="height: 20px;"></div>

      <form class="form-horizontal" name="SearchMultiLRForm" data-ng-submit="submitForm()">      
        <div class="col-xs-12 col-md-offset-3 panel-body">    
          <div class="row">
            <div class="form-group">
              <label for="date" class="control-label col-xs-2"><small>Search by Date</small></label>            
              <div class="col-xs-2 col-md-3">
                <input type="text" class="form-control input-sm" id="date" name="date" placeholder="Date (yyyy-MM-dd)" ng-model="search.fromdate" data-date-format="yyyy-MM-dd" required ng-pattern="/^(\d{4})-(\d{1,2})-(\d{1,2})$/">
                <div data-ng-messages="SearchMultiLRForm.date.$error" data-ng-if="SearchMultiLRForm.date.$dirty" role="alert" class="text-danger">
                  <div data-ng-message="pattern"><small>Date should be yyyy-MM-dd format</small></div>
                  <div data-ng-message="required"><small>Date is required</small></div>
                </div>
              </div>
              <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <div class="col-md-2">
      <!-- Blank right navigation-->    
    </div>
      

  </div>





